/node_modules
/public/hot
/public/storage
/public/dashlite
/storage/*.key
/.idea
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
